@model AdminViewModel
@{
	ViewBag.Title = "Авторизация";
}

<h2>Введите пароль:</h2>
<form asp-area="Admin" asp-controller="Home" asp-action="Authorization">
	<input asp-for="Password"/>
	<span asp-validation-for="Password"></span>
	<div>
		<button type="submit">Войти</button>
	</div>
</form>