@model AdminModel
<h1>Панель администратора. Главная страница</h1>

@if (!Model.IsAvtorizate)
{
	<a asp-area="Admin" asp-controller="Home" asp-action="Authorization">Пройти авторизацию</a>
}
else
{
	<a asp-area="Admin" asp-controller="Home" asp-action="LeaveAuthorization">Выйти из аккаунта</a>
}